{% set structure = config.themes.hypertext.structure %}
{% set style = config.themes.hypertext.style %}
{% set menu = config.themes.hypertext.menu %}
{% set html5 = structure.htmlMode == 'default' %}

{% set allowCSS = page.header.allowCSS == 'enabled' or
                    (page.header.allowCSS|default('default') == 'default' and 
                     style.allowCSS == '1') %}
{% set allowJS  = page.header.allowJS  == 'enabled' or
                    (page.header.allowJS|default('default') == 'default' and 
                     style.allowJS == '1') %}

{# ------------------------------------------------------------------------ #}

<!DOCTYPE html>


{# ## HEADLES RENDERING ## #}
{% if uri.query('headless') %}
<html>
  <head>
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
  </head>
  <body>
  {{ block('content') }}
  </body>
</html>


{% else %}
{# ## ORDINARY RENDER ## #}
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head %}
  <meta charset="utf-8" />
  <link rel="canonical" href="{{ page.url(true, true) }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% for meta in page.metadata %}
    <meta {% if meta.name %}name="{{ meta.name }}" {% endif %}{% if meta.http_equiv %}http-equiv="{{ meta.http_equiv }}" {% endif %}{% if meta.charset %}charset="{{ meta.charset }}" {% endif %}{% if meta.property %}property="{{ meta.property }}" {% endif %}{% if meta.content %}content="{{ meta.content }}" {% endif %}/>
  {% endfor %}

  <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

  {% if config.themes.hypertext.style.use_favicon %}
  <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
  {% endif %}

  {% include 'partials/page/js-css.html.twig' %}
{% endblock head %}
</head>


<body class="{{ page.template }}{{ page.header.bodyClasses ? ' {{ page.header.bodyClasses }}' : ''}}">
  {# ## HEADER ## #}
  {{ html5 ? '<header>' : '<div class="header">' }}
  {% block header %}
    {% include 'partials/page/header.html.twig' %}
  {% endblock %}
  {{ html5 ? '</header>' : '</div>' }}
  
  {# ## BODY ## #}
  {{ html5 ? '<main>' : '<div class="main">' }}
    {{ html5 ? '<article>' : '<div class="item">'}}

    {# ARTICLE HEAD #}
    {% block item_head %}
    {% include 'partials/item/header.html.twig' %}
    {% endblock %}

    {# ARTICLE BODY #}
    {% block content %}
    {{ page.content|raw }}
    {% endblock %}

    {# CHILD PAGES #}
    {% block children %}
    {% include 'partials/item/children.html.twig' %}
    {% endblock %}

    {# ARTICLE FOOTER #}
    {% block item_footer %}
    {% include 'partials/item/footer.html.twig' %}
    {% endblock %}

    {{ html5 ? '</article>' : '</div>'}}
  {{ html5 ? '</main>' : '</div>' }}

  {# ## FOOTER ## #}
  {{ html5 ? '<footer>' : '<div class="footer">' }}
  {% block footer %}
    {% include 'partials/page/footer.html.twig' %}
  {% endblock %}
  {{ html5 ? '</footer>' : '</div>' }}

</body>
{% endif %}
</html>
