<nav>
    {% if config.themes.hypertext.style.inlineNavbar %}
        {% for child in pages.children.visible %}
        <a href="{{ child.url }}"{{ (child.active or child.activeChild) ? ' class="current"' :'' }}>{{ child.menu }}</a>
        {% if not loop.last %} | {% endif %}
        {% endfor %}

        {% for name, url in config.themes.hypertext.menuItems %}
        | <a href="{{ url }}" target="_blank">{{ name }}</a>
        {% endfor %}
        
        {% if config.plugins.login.enabled and grav.user.username %}
            [{% include 'partials/login-status.html.twig' %}]
        {% endif %}
    {% else %}
    <ul>
        {% for child in pages.children.visible %}
        <li><a href="{{ child.url }}"{{ (child.active or child.activeChild) ? ' class="current"' :'' }}>{{ child.menu }}</a></li>
        {% endfor %}

        {% for name, url in config.themes.hypertext.menuItems %}
        <li><a href="{{ url }}" target="_blank">{{ name }}</a></li>
        {% endfor %}

        {% if config.plugins.login.enabled and grav.user.username %}
            <li>[{% include 'partials/login-status.html.twig' %}]</li>
        {% endif %}
    </ul>
    {% endif %}

    <hr/>
    
    {# Breadcrumbs #}
    {% if config.plugins.breadcrumbs.enabled %}
    {% set crumbs = breadcrumbs.get() %}

    {% if crumbs|length > 1 %}
    <span>
        {% for crumb in crumbs %}
        <a href="{{ crumb.url }}">{{ crumb.menu }}</a>{% if not loop.last %} &raquo; {% endif %}
        {% endfor %}
    </span>
    {% endif %}

{% endif %}
</nav>