{% set hasNav = pages.children.visible|length >= 1 or
                config.themes.hypertext.menu.menuItems|length >= 1 or
                (config.plugins.login.enabled and grav.user.username) %}
{% set ht = config.themes.hypertext %}

{{ dump(ht) }}
{% if hasNav %}

<nav>
    {% if ht.style.inlineNavbar %}
        {% for child in pages.children.visible %}
            {# Write child page #}
            <a href="{{ child.url }}"{{ (child.active or child.activeChild) ? ' class="current"' :'' }}>{{ child.menu }}</a>

            {# Write separator #}
            {% if ht.menu.useSeparator %}
                {% if (not loop.last or ht.menu.menuItems|length >= 1)  %} | {% endif %}
            {% endif %}
        {% endfor %} {# End child pages loop #}

        {# Write additional links #}
        {% if ht.menu.menuItems|length >= 1 %}
        <span>
        {% for menuItem in ht.menu.menuItems %}
            <a href="{{ menuItem.href }}"
                {{ menuItem.rel ? 'rel="%s" '|format(menuItem.rel) : '' }}
                {{ menuItem.name ? 'name="%s" '|format(menuItem.name) : '' }}
                {{ menuItem.isOffsite ? 'class="offsite"' : '' }}
                {{ menuItem.target ? 'target="%s" '|format(menuItem.target) : '' }}
                {{ menuItem.isNewWindow ? 'target="_blank"' : '' }}>{{ menuItem.text}}</a>
            {# Write separator #}
            {% if ht.menu.useSeparator %}
                {% if (not loop.last)  %} | {% endif %}
            {% endif %}
        {% endfor %}
        </span>
        {% endif %} {# End additional links loop #}
        
        {% if config.plugins.login.enabled and grav.user.username %}
            [{% include 'partials/login-status.html.twig' %}]
        {% endif %}
    {% else %} {# Else use vertical list style nav, good for custom CSS. #}
    <ul>
        {% for child in pages.children.visible %}
        <li><a href="{{ child.url }}"{{ (child.active or child.activeChild) ? ' class="current"' :'' }}>{{ child.menu }}</a></li>
        {% endfor %}

        {% for menuItem in ht.menu.menuItems %}
            <li><a href="{{ menuItem.href }}"
                {{ menuItem.rel ? 'rel="%s" '|format(menuItem.rel) : '' }}
                {{ menuItem.name ? 'name="%s" '|format(menuItem.name) : '' }}
                {{ menuItem.isOffsite ? 'class="offsite"' : '' }}
                {{ menuItem.target ? 'target="%s" '|format(menuItem.target) : '' }}
                {{ menuItem.isNewWindow ? 'target="_blank"' : '' }}>{{ menuItem.text}}</a></li>
        {% endfor %}

        {% if config.plugins.login.enabled and grav.user.username %}
            <li>[{% include 'partials/login-status.html.twig' %}]</li>
        {% endif %}
    </ul>
    {% endif %} {# End of navigation links #}

    <hr/>
    
    {# Breadcrumbs #}
    {% if config.plugins.breadcrumbs.enabled %}
    {% set crumbs = breadcrumbs.get() %}

    {% if crumbs|length > 1 %}
    <span>
        {% for crumb in crumbs %}
        <a href="{{ crumb.url }}">{{ crumb.menu }}</a>{% if not loop.last %} &raquo; {% endif %}
        {% endfor %}
    </span>
    {% endif %}

{% endif %}
</nav>

{% endif %}