{% set showHeader = page.header.show_header_image == 'default' ? parent.header.render.images : page.header.show_header_image %}
{% set showNestedChildren = parent.header.render.nestedChildren %}
{% set header_image_file = page.header.header_image_file ?? false %}

<{{ html5 ? 'section' : 'div'}} class="snippet{% if page.taxonomy.category %}{% for category in page.taxonomy.category %} cat_{{ category|hyphenize }}{% endfor %}{% endif %}">

{# Title #}
<h3>
  {% if page.header.link %}
  <a href="{{ page.header.link }}">{{ page.title }}</a>
  {% else %}
  <a href="{{ page.url }}">{{ page.title }}</a>
  {% endif %}
</h3><br/>

{# Subtitle #}
{% if page.header.subtitle %}
<span class="subtitle">{{ page.header.subtitle }}</span><br/>
{% endif %}

{# Categories - Tags don't appear in a summary view. #}
{% if page.taxonomy.category %}
Categories: <small>[{% for category in page.taxonomy.category %}<a href="{{ page.parent.url|rtrim('/') }}/category{{ config.system.param_sep }}{{ category }}">{{ category }}</a>{% if not loop.last %}, {% endif %}{% endfor %}]</small>
{% endif %}

{# Text #}
{% if page.summary != page.content %}
  {{ page.summary|replace({'<p>': '', '</p>':''}) }}
{% else %}
  {{ page.content|truncate(header.summary.size ?? 300)|replace({'<p>': '', '</p>':''}) }}...
{% endif %}

{# Children #}
{% set children = page.collection()|length > 0 ? page.collection() : page.children.visible %}
{% if showNestedChildren and children|length > 0 %}
{% set nestedCollection = children.order(page.header.content.order.by|default('date'), page.content.order.dir|default('desc')) %}
<p>Sub-Pages:
<ol class="nested-children">
  {% for child in nestedCollection %}
  <li><a href="{{ child.url }}">{{ child.title }}</a>{{ child.header.subtitle ? ' - <span>'~child.header.subtitle~'</span>' : '' }}</li>
  {% endfor %}
</ol>
</p>
{% endif %} {# End render nested children #}

{{ html5 ? '</article>' : '</div>' }}