{# ## HEADER IMAGE SETUP ## #}
{% set show_header_image = page.header.show_header_image|default('default') == 'default' ? parent.header.render.images : page.header.show_header_image %}
{% set header_image_file = page.header.header_image_file ?? false %}

{% if show_header_image %}    {# if the user wants an image... #}
  {% if header_image_file %}  {# if there's an image specified... #}
    {% set header_image_media = page.media.images[header_image_file] %}
  {% else %}                  {# if there's NO image specified... #}
    {% set header_image_media = page.media.images|first %}
  {% endif %}
{% endif %}

{# ------------------------------------------------------------------------ #}

{# Titles #}
{% if not page.home() %}
<h2><a href="{{ page.url }}">{{ page.title }}</a>{% if page.header.subtitle %}<small> - {{ page.header.subtitle }}{% endif %}</h2>
{% endif %}

{# Taxonomies #}
{% if page.taxonomy.category %}
  <br/>
  <span class="categories">
  Categories: 
  {% for category in page.taxonomy.category %}
    <a href="{{ blog.url|rtrim('/') }}/category{{ config.system.param_sep }}{{ category }}">{{ category }}</a>
  {% endfor %}
  </span>
{% endif %}

{% if page.taxonomy.tag %}
  <br/>
  <span class="tags">
  Tags: 
  {% for tag in page.taxonomy.tag %}
    <a href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>
  {% endfor %}
  </span>
{% endif %}

{# Header Image #}
{% if show_header_image %}
  <p>{{ header_image_media.html }}</p>
{% endif %}