{% set show_image = page.header.show_header_image ?? true %}
{% set header_image = page.media.images[page.header.header_image_file] ?? page.media.images|first %}
{% set show_date = structure.show_date ?? false %}

{# ------------------------------------------------------------------------ #}

{# Title & Subtitle #}
<h3>
  <a href="{{ page.url }}">{{ page.title }}</a>
</h3>
{% if page.header.subtitle %}<strong>{{ page.header.subtitle }}</strong>{% endif %}

<p> {# The next set of items should be somewhat close together.}

{# Image #}
{% if show_image and header_image %}
  {% if style.image_cropping|default(false) %}
    <a href="{{ page.url }}">{{ header_image.cropZoom(style.width - 10, style.width / 5).html() }}</a>
  {% else %}
    <a href="{{ page.url }}">{{ header_image.html() }}</a>
  {% endif %}
{% endif %}

{# Date #}
{% if show_date %}
<br><sub>
  {% if html5 %}
    <time datetime="{{ page.date|date("c") }}">{{ page.date|date(system.pages.dateformat.short) }}</time>
  {% else %}
    <span class="datetime">{{ page.date|date(system.pages.dateformat.short) }}</span>
  {% endif %}
</sub>
{% endif %}

{# Categories #}
{% if page.taxonomy.category %}
  <br>
  Categories: <small>
  {% for category in page.taxonomy.category %}
    {{ structure.use_decorators ? '[' : '' }}<a href="{{ page.parent.url|rtrim('/') }}/category{{ config.system.param_sep }}{{ category }}">{{ category }}</a>{{ structure.use_decorators ? ']' : '' }}{{ not loop.last ? ',' : '' }}
  {% endfor %}</small>
{% else %}
{% endif %}

{% if page.taxonomy.tag %}
  <br>
  Tags: <small>
  {% for tag in page.taxonomy.tag %}
    <a href="{{ page.parent.url|rtrim('/') }}/category{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>{{ not loop.last ? ',' : '' }}
  {% endfor %}</small>
  {% for tag in page.taxonomy.tag %}
    <a href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>
  {% endfor %}
{% endif %}

</p>