{% set show_subtitle = parent.header.render.children.subtitle ?? true %}
{% set show_cat = parent.header.render.children.category ?? true %}
{% set show_date = parent.header.render.children.date ?? false %}
{% set show_children = parent.header.render.children.nested_children ?? true %}
{% set inner_children = page.collection()|length > 0 ? page.collection() : page.children.visible %}

{# ------------------------------------------------------------------------ #}

<li class="child-level-{{ level }}{% for cat in page.taxonomy.category %} cat_{{ cat|hyphenize }}{% endfor %}">
  {# Date #}
  {% if show_date %}
    {% if html5 %}
      {{ structure.use_decorators ? '[' : '' }}<time datetime="{{ page.date|date("c") }}">{{ page.date|date(system.pages.dateformat.short) }}</time>{{ structure.use_decorators ? ']' : ' '}}
    {% else %}
      {{ structure.use_decorators ? '[' : '' }}<span class="datetime">{{ page.date|date(system.pages.dateformat.short) }}</span>{{ structure.use_decorators ? ']' : ' '}}
    {% endif %}
  {% endif %}

  {{ level > 1 ? '' : '<strong>' }}
    <a href="{{ page.url }}">{{ page.title }}</a>
  {{ level > 1 ? '' : '</strong>' }}
  {% if page.header.subtitle and show_subtitle %} - <small>{{ page.header.subtitle }}</small>{% endif %}

  {# Categories #}
  {% if page.taxonomy.category and show_cat %}
    <br/>
    Categories: <small>
    {% for category in page.taxonomy.category %}
      {{ structure.use_decorators ? '[' : '' }}<a href="{{ page.parent.url|rtrim('/') }}/category{{ config.system.param_sep }}{{ category }}">{{ category }}</a>{{ structure.use_decorators ? ']' : '' }}{{ not loop.last ? ',' : '' }}
    {% endfor %}</small>
  {% else %}
  {% endif %}

  {# Children #}
  {% if show_children and inner_children|length > 0 %}
  {% set inner_children = inner_children.order(page.header.content.order.by|default(system.pages.order.by), 
                                               page.header.content.order.dir|default(system.pages.order.dir)) %}
  <ul class="nested-children">
    {% for child in inner_children %}
      {% include 'partials/item/list.html.twig' with {'page':child, 'parent':parent, level:level + 1} %}
    {% endfor %}
    <br>
  </ul>
  {% endif %} {# End render nested children #}
</li>