{% set show_image = parent.header.render.children.image ?? true %}
  {% set header_image = page.media.images[page.header.header_image_file] ?? page.media.images|first %}
{% set show_subtitle = parent.header.render.children.subtitle ?? true %}
{% set show_cat = parent.header.render.children.category ?? true %}
{% set show_date = parent.header.render.children.date ?? false %}
{% set show_children = parent.header.render.children.nested_children ?? true %}
  {% set inner_children = page.collection()|length > 0 ? page.collection() : page.children.visible %}

{# ------------------------------------------------------------------------ #}

<table class="children">
  {# Header #}
  {{ html5 ? '<thead>' : ''}}<tr>
    {% if show_image %}<td>{{ 'THEME_HYPERTEXT.THUMBNAIL.THUMBNAIL'|t }}</td>{% endif %}
    <td>Title</td>
    {% if show_date %}<td>{{ 'THEME_HYPERTEXT.DATES.PUBLISHED'|t }}</td>{% endif %}
    {% if show_cat %}<td>{{ 'THEME_HYPERTEXT.CATEGORIES.CATEGORIES'|t }}</td>{% endif %}
  {{ html5 ? '</thead>' : ''}}</tr>

  {% for child in collection %}
    {% if child.header.show_header_image|default('default') == 'default' %}
      {% set show_image = parent.header.render.children.image ?? true %}
    {% else %}
      {% set show_image = child.header.show_header_image == 'enabled' %}
    {% endif %}
    {% set header_image = child.media.images[child.header.header_image_file] ?? child.media.images|first %}

    {% set show_subtitle = parent.header.render.children.subtitle ?? true %}
    {% set show_cat = parent.header.render.children.category ?? true %}
    {% set show_date = parent.header.render.children.date ?? false %}
    {% set show_children = parent.header.render.children.nested_children ?? true %}
    {% set inner_children = child.collection()|length > 0 ? child.collection() : child.children.visible %}

  <tr{% if child.taxonomy.category %} class="{% for cat in child.taxonomy.category %} cat_{{ cat|hyphenize }}{% endfor %}"{% endif %}>

    {# Image #}
    {% if show_image %}
    <td class="thumbnail">
    {% if header_image %}
      {% if style.image_cropping|default(false) %}
        <a href="{{ child.url }}">{{ header_image.cropZoom((style.width / 24), style.width / 24).html() }}</a>
      {% else %}
        <a href="{{ child.url }}">{{ header_image.html() }}</a>
      {% endif %}
    {% endif %}
    </td>
    {% endif %}
    

    {# Title #}
    <td>
      <strong>
        <a href="{{ child.url }}">{{ child.title }}</a>        
      </strong>
      {% if show_subtitle and child.header.subtitle %}- <span>{{ child.header.subtitle }}</span>{% endif %}
    </td>

    {# Date #}
    {% if show_date %}
    <td>
      {% if html5 %}
        {{ 'THEME_HYPERTEXT.DATES.PUBLISHED'|t }}: <time datetime="{{ page.date|date("c") }}">{{ page.date|date(system.pages.dateformat.short) }}</time>
      {% else %}
        {{ 'THEME_HYPERTEXT.DATES.PUBLISHED'|t }}: <span class="datetime">{{ page.date|date(system.pages.dateformat.short) }}</span>
      {% endif %}
    </td>
    {% endif %}

    {# Categories #}
    {% if show_cat %}
    <td>
      {% if page.taxonomy.category %}
      <small>
        {% for category in page.taxonomy.category %}
        [<a href="{{ page.parent.url|rtrim('/') }}/category{{ config.system.param_sep }}{{ category }}">{{ category }}</a>]{% if not loop.last %}, {% endif %}
        {% endfor %}
      </small>
      {% endif %}
    </td>
    {% endif %}
    </tr>
  {% endfor %}    
</table>

