{% embed 'partials/base.html.twig' %}
	{% block content %}
		<div class="item">
        {% set header_image = page.header.header_image ?? true %}
        {% set header_image_width  = page.header.header_image_width ?? config.themes.hypertext.layout.width * .80 %}
        {% set header_image_height = page.header.header_image_height ?? 300 %}
        {% set header_image_file = page.header.header_image_file ?? false %}

        {# Titles #}
        {% if page.header.link %}
        <h2><a href="{{ page.header.link }}">{{ page.title }}</a></h2>
        {% else %}
            <h2><a href="{{ page.url }}" class="u-url">{{ page.title }}</a></h2>
        {% endif %}

        {% if page.header.subtitle %}
        <span class="subtitle"><time datetime="{{ page.date|date("c") }}">{{ page.date|date(system.pages.dateformat.short) }}</time> - <u>{{ page.header.subtitle }}</u>
        {% endif %}

        {# Taxonomies #}
        {% if page.taxonomy.category %}
        <span class="categories">
        Categories: 
            {% for category in page.taxonomy.category %}
            <a href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ category }}">{{ category }}</a>
            {% endfor %}
        </span><br/>
        {% endif %}

        {% if page.taxonomy.tag %}
        <span class="tags">
        Tags: 
            {% for tag in page.taxonomy.tag %}
            <a href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>
            {% endfor %}
        </span>
        {% endif %}

        {# Headline Image #}
        {% if header_image %}
            {% if header_image_file %}
                {% set header_image_media = page.media.images[header_image_file] %}
            {% else %}
                {% set header_image_media = page.media.images|first %}
            {% endif %}
            
            <br/>
            {{ header_image_media.cropZoom(header_image_width, header_image_height).html }}
        {% endif %}

        {# Content #}
        {{ page.content }}

        <span class="pagination">
        {% if not page.isFirst %}
            <a href="{{ page.prevSibling.url }}">&#xab; Previous Post</a>
        {% endif %}
        {% if not page.isLast %}
            <a href="{{ page.nextSibling.url }}">Next Post &raquo;</a>
        {% endif %}
        </span>
        </div>
	{% endblock %}
{% endembed %}
