{# A list is a parent page with less detailed information about its children, 
suitable for thin directories that are more for organization than for semantics. 
Note that this isn't compatible with extremely old browsers. #}

{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection()|length > 0 ? page.collection() : page.children.visible %}

	{% block content %}
    {{ page.content }}

    <table>
        {# If there are category filters in the URL, let the user know. #}
        {% if (uri.query('category')) %}
            
        {% endif %}

        {% for child in collection.order(header.content.order.by, header.content.order.dir) %}
        <tr>
            <td class="datetime" nowrap>{{ child.date|date("Y-d-m") }}</td>
            <td class="category">
                {% for category in child.taxonomy.category %}
                    <a href="{{ child.parent.url|rtrim('/') }}/category{{ config.system.param_sep }}{{ category }}">{{ category }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td class="title">
                {{ config.themes.hypertext.style.beautifyText and not loop.first ? '<hr/>' }}
                {% if child.header.link %}
                <a href="{{ child.header.link }}">{{ child.title }}</a>
                {% else %}
                <a href="{{ child.url }}">{{ child.title }}</a>
                {% endif %}

                {% if child.summary != child.content %}
                    <p>{{ child.summary }}</p>
                {% else %}
                    <p>{{ child.content|truncate(header.summary.size ?? 150) }}</p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
	{% endblock %}
{% endembed %}